*{
	margin: 0;
	padding: 0;
}
body{
	background: url(../Pictures/5.jpg);
	background-size: cover;
	background-attachment: scroll;
}
body, html{
	height: 100%;
}
.shadow{
	position: relative;
	margin: 200px auto 0;
	width: 600px;
	height: 450px;
	background: linear-gradient(0deg,#000,#262626);
	color: white;
	font-size: 40px;
	margin-bottom: 100px;
}
.shadow h2{
	margin: 0 0 30px;
	padding: 0;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
}
.shadow .inputBox{
	position: relative;
}
.shadow .inputBox input{
	width: 100%;
	padding: 8px 0;
	font-size: 20px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	letter-spacing: 1px;
}
.shadow .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0;
	font-size: 20px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.shadow .inputBox input:focus ~ label,
.shadow .inputBox input:valid ~ label{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 16px;
}
.shadow input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-left: 240px;
	font-size: 20px;
}
.shadow:before,
.shadow:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
	background-size: 400%;	
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
}
.shadow:after{
	filter: blur(20px);
}
@keyframes animate{
	0%{
		background-position: 0 0;
	}
	50%{
		background-position: 280% 0;
	}
	100%{
		background-position: 0 0;
	}
}
.tm-header{
	background-color: #000;
}
.tm-header::after{
	content: " ";
	display: block;
	clear: both;
}
.tm-container{
	display: flex;
	justify-content: center;
	max-width: 1600px;
	margin: 0px auto;
	min-height: 100%;
}
.tm-logo{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 1px;
}
.tm-footer{
	position: relative;
	background: #000;
	text-align: center;
	padding: 20px;
	color: white;
	margin-top: -20px;
	height: 20px;
	clear: both;
}
.tm-content{
	min-height: 100%;
	max-width: 1000px;
	margin: 0px auto;
}
.tm-main{
	overflow: hidden;
}
#fp{
	margin-left: 40px;
	color: #03a9f4;
	font-size: 18px;
}
label{
	font-size: 18px;
	margin-left: 40px;
}
#su{
	color: #03a9f4;
	font-size: 18px;
}